body, html {
  margin: 0;
  padding: 0;
}

.app {
  display: grid;
  grid-template-rows: 80px 1fr;
  grid-template-columns: 80px 1fr;
  height: 100vh;
  width: 100vw;
  grid-template-areas:
    "header header"
    "nav main";

  & > header {
    grid-area: header;
    background: blueviolet;
    border: 1px solid white;
    color: white;
  }
  & > nav {
    grid-area: nav;
    background: blueviolet;
    color: white;
    }
  & > main {
    grid-area: main;
    padding: 20px;
  }
}
